<section>
    <div class="row list">
        <h3 class="title -icon"><%= fa_icon "newspaper-o" %><span>Articles</span></h3>
        <% @articles.each do |a| %>
            <div class="item">
                <h3 class="title">
                    <%= link_to a.title, blog_path(a) %>
                </h3>
                <div class="date title -tiny">
                    <%= I18n.localize a.created_at, format: "%e %B %Y" %>
                </div>
                <p class="content">
                    <%= a.description[0..200] %> ...
                </p>
                <%= link_to blog_path(a), class: "heavy-link" do %>
                    Voir plus <%= fa_icon "arrow-right" %>
                <% end %>
            </div>
        <% end %>
        <%= paginate @articles %>
    </div>
</section>
