<section>
    <div class="article row">
        <div class="clearfix">
            <%= render partial: 'buttons' %>
            <% cache @article do %>
                <div class="zone">
                    <h3 class="title">
                        <%= @article.title %>
                    </h3>
                    <p class="content">
                        <%= @article.description %>
                    </p>
                </div>
                <nav>
                    <h6 class="title -tiny">Navigation</h6>
                    <ul></ul>
                </nav>
                <div class="article-content">
                    <h6 class="title -tiny">Publié le <%= I18n.localize @article.created_at, format: "%e %B %Y" %></h6>
                    <%= raw @content %>
                </div>
            <% end %>
        </div>
        <%= render partial: 'buttons' %>
    </div>
</section>
