<% cache @article do %>
    <section>
        <div class="article row">
            <div class="clearfix">
                <%= render partial: 'buttons' %>
                <header>
                    <h3 class="title">
                        <%= @article.title %>
                    </h3>
                    <p class="content">
                        <%= @article.description %>
                    </p>
                </header>
                <nav>
                    <h6 class="title -tiny">Navigation</h6>
                </nav>
                <div class="article-content">
                    <h6 class="title -tiny">Publié le <%= @article.created_at.strftime("%e %B %Y") %></h6>
                    <%= raw @content %>
                </div>
            </div>
            <%= render partial: 'buttons' %>
        </div>
    </section>
<% end %>
