<section id="cv" class="head">
    <div class="row cv" id="printable">
        <h3 class="title -white -icon -center"><%= fa_icon "id-card-o" %><span><%= t "cv.title" %></span></h3>
        <div class="zone">
            <div class="col-12">
                <header>
                    <h3 class="title">Sébastien Erfani</h3>
                    <h5 class="subtitle"><%= t "cv.subtitle" %></h5>
                </header>
                <div class="col-4 -sp">
                    <%= t "cv.about_me_html" %>
                </div>
                <div class="col-4 -sp">
                    <%= t "cv.address_html" %>
                </div>
                <div class="col-4 -sp">
                    <%= t "cv.contact_info_html" %>
                </div>
            </div>
            <div class="col-12">
                <h4 class="title"><%= t "cv.experience" %></h4>
                <div class="cv__part">
                    <div class="content">
                        <h5 class="subtitle"><%= t "cv.bed_stage.title" %><span class="date"> <%= t "cv.bed_stage.duration" %></h5>
                        <%= t "cv.bed_stage.text_html" %>
                    </div>
                </div>
                <div class="cv__part">
                    <div class="content">
                        <h5 class="subtitle"><%= t "cv.epopia_stage.title" %><span class="date"> <%= t "cv.epopia_stage.duration" %></span></h5>
                        <%= t "cv.epopia_stage.text_html" %>
                    </div>
                </div>
                <div class="cv__part">
                    <div class="content">
                        <h5 class="subtitle"><%= t "cv.personal.title" %></h5>
                        <%= t "cv.personal.text_html" %>
                    </div>
                </div>
                <div class="col-12 -sp -wp-top">
                </div>
            </div>
            <div class="col-12">
                <h4 class="title"><%= t "cv.studies.title" %></h4>
                <div class="cv__part">
                    <div class="content">
                        <h5 class="subtitle"><%= t "cv.studies.supinfo.title" %><span class="date"> <%= t "cv.studies.supinfo.duration" %></span></h5>
                        <%= t "cv.studies.supinfo.text_html" %>
                    </div>
                </div>
                <div class="cv__part">
                    <div class="content">
                        <h5 class="subtitle"><%= t "cv.studies.highschool.title" %><span class="date"> <%= t "cv.studies.highschool.duration" %></span></h5>
                        <%= t "cv.studies.highschool.text_html" %>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <h4 class="title"><%= t "cv.skills.title" %></h4>
                <div class="clearfix">
                    <div class="col-3">
                        <h5 class="subtitle"><%= t "cv.skills.dev.title" %></h5>
                        <ul>
                            <%= t "cv.skills.dev.text_html" %>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h5 class="subtitle"><%= t "cv.skills.bdd.title" %></h5>
                        <ul>
                            <%= t "cv.skills.bdd.text_html" %>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h5 class="subtitle"><%= t "cv.skills.other.title" %></h5>
                        <ul>
                            <%= t "cv.skills.other.text_html" %>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h5 class="subtitle"><%= t "cv.skills.locale.title" %></h5>
                        <%= t "cv.skills.locale.text_html" %>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <h4 class="title"><%= t "cv.interest.title" %></h4>
                <div>
                    <%= t "cv.interest.text_html" %>
                </div>
            </div>
        </div>
        <div class="align -center">
            <a class="btn -white" href="cv_sebastien_erfani.pdf" download><%= fa_icon "download" %> <%= t "menu.download_cv" %></a>
        </div>
    </div>
</section>
