<section id="legal" class="head">
    <h3 class="title -white -icon -center"><%= fa_icon "book" %><span><%= t "legal.title" %></span></h3>

    <div class="row">
        <div class="zone">
            <h3 class="title"><%= t "legal.about" %></h3>
            <h5><%= t "legal.hosting" %> :</h5>
            <%= t "legal.hosting_text_html" %>
        </div>
        <div class="zone" id="cookies">
            <h3 class="title"><%= t "legal.cookies" %></h3>
            <%= t "legal.disclaimer_html" %>
        </div>
        <div class="zone">
            <h3 class="title"><%= t "legal.thanks" %></h3>
            <%= t "legal.thanks_text_html" %>
        </div>
    </div>
</section>
