<section>
    <div class="row">
        <h3 class="title"><%= fa_icon "id-card" %><span>Curriculum Vitæ</span></h3>
        <div class="cv-item">
            <div class="date">
                <div class="start">
                    <h4>
                        2017
                    </h4>
                </div>
                <div class="duration">
                    <h5>
                        1 ans
                    </h5>
                </div>
            </div>
            <div class="content">
                <h4 class="title">
                    3<sup>ème</sup> année d'études
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="cv-item">
            <div class="date">
                <div class="start">
                    <h4>
                        2017
                    </h4>
                </div>
                <div class="duration">
                    <h5>
                        2 mois
                    </h5>
                </div>
            </div>
            <div class="content">
                <h4 class="title">
                    Stage
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="cv-item">
            <div class="date">
                <div class="start">
                    <h4>
                        2016
                    </h4>
                </div>
                <div class="duration">
                    <h5>
                        1 ans
                    </h5>
                </div>
            </div>
            <div class="content">
                <h4 class="title">
                    2<sup>ème</sup> année d'études
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="cv-item">
            <div class="date">
                <div class="start">
                    <h4>
                        2016
                    </h4>
                </div>
                <div class="duration">
                    <h5>
                        4 mois
                    </h5>
                </div>
            </div>
            <div class="content">
                <h4 class="title">
                    Stage à Temps Plein à Epopia
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="cv-item">
            <div class="date">
                <div class="start">
                    <h4>
                        2015
                    </h4>
                </div>
                <div class="duration">
                    <h5>
                        1 ans
                    </h5>
                </div>
            </div>
            <div class="content">
                <h4 class="title">
                    1<sup>ére</sup> année d'études
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="cv-item">
            <div class="date">
                <div class="start">
                    <h4>
                        2015
                    </h4>
                </div>
            </div>
            <div class="content">
                <h4 class="title">
                    Obtention du Bac
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="col-12">
            <a href="" class="heavy_link"><%= fa_icon "arrow-right" %>Télécharger le CV</a>
        </div>
    </div>
</section>
<section class="-border-bottom -border-top -sp-bottom">
    <div class="row">
        <h3 class="title"><%= fa_icon "id-card" %><span>Compétences</span></h3>
        <div class="col-8 -sp -wp-right">
            <h6 class="title">Web :</h6>
            <div class="tag -full">
                <div class="icon">
                    <%= fa_icon "css3" %><span>CSS/SASS</span>
                </div>
                <div class="progress-bar">
                    <div class="progress" style="width:100%">
                    </div>
                </div>
            </div>
            <div class="tag -full">
                <div class="icon">
                    <%= fa_icon "html5" %><span>HTML</span>
                </div>
                <div class="progress-bar">
                    <div class="progress" style="width:100%">
                    </div>
                </div>
            </div>
            <div class="tag -full">
                <div class="icon">
                    <%= inline_svg "ruby_logo.svg", class: "fa" %><span>Ruby on Rails</span>
                </div>
                <div class="progress-bar">
                    <div class="progress" style="width:82%">
                    </div>
                </div>
            </div>
            <div class="tag -full">
                <div class="icon">
                    <%= inline_svg "js_logo.svg", class: "fa" %><span>JS/JQuery</span>
                </div>
                <div class="progress-bar">
                    <div class="progress" style="width:72%">
                    </div>
                </div>
            </div>
            <div class="tag -full">
                <div class="icon">
                    <%= fa_icon "database" %><span>SQL</span>
                </div>
                <div class="progress-bar">
                    <div class="progress" style="width:69%">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 -sp -wp-left">
            <div class="col-12 -sp">
                <h6 class="title">Autres technologies :</h6>
                <div class="tag -tiny">
                    <div class="icon"><%= fa_icon "code-fork" %>GIT</div>
                </div>
                <div class="tag -tiny">
                    <div class="icon"><%= fa_icon "linux" %>Linux</div>
                </div>
                <div class="tag -tiny">
                    <div class="icon"><%= inline_svg "ruby_logo.svg", class: "fa" %>Ruby</div>
                </div>
                <div class="tag -tiny">
                    <div class="icon"><%= inline_svg "python_logo.svg", class: "fa" %>Python</div>
                </div>
                <div class="tag -tiny">
                    <div class="icon"><%= inline_svg "nodejs_logo.svg", class: "fa" %>NodeJS</div>
                </div>
                <div class="tag -tiny">
                    <div class="icon"><%= fa_icon "code" %>C/C++</div>
                </div>
                <div class="tag -tiny">
                    <div class="icon"><%= fa_icon "code" %>C#</div>
                </div>
                <div class="tag -tiny">
                    <div class="icon"><%= fa_icon "database" %>NoSQL/MongoDB</div>
                </div>
            </div>
            <div class="col-12 -sp">
                <h6 class="title -accent2">Autres compétences :</h6>
                <div class="tag -tiny -accent2">
                    <div class="icon"><%= fa_icon "users" %>Expérience Utilisateur (UX)</div>
                </div>
                <div class="tag -tiny -accent2">
                    <div class="icon"><%= fa_icon "paint-brush" %>Design (UI)</div>
                </div>
                <div class="tag -tiny -accent2">
                    <div class="icon"><%= fa_icon "calendar-o" %>Management</div>
                </div>
                <div class="tag -tiny -accent2">
                    <div class="icon"><%= fa_icon "briefcase" %>Droit Informatique</div>
                </div>
            </div>
        </div>
        <div class="col-6 -big-gutter -gradient-border-right -wp-right -wp-bottom">
            <h6 class="title">Informatique</h6>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="col-6 -big-gutter -wp-left -wp-bottom">
            <h6 class="title">Design</h6>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <h3 class="title"><%= fa_icon "book" %><span>Portfolio</span></h3>
        <div class="portfolio-item">
        </div>
        <div class="portfolio-item">
        </div>
        <div class="portfolio-item">
        </div>
    </div>
</section>
<section>
    <div class="row">
        <h3 class="title"><%= fa_icon "comments-o" %><span>Contact</span></h3>
        <div class="tag">
            <div class="icon">
                <%= fa_icon "envelope" %>
                Mail
            </div>
            <span><a href="mailto:sebastien.erfani@gmail.com" target="_blank">sebastien.erfani<%= fa_icon "at" %>gmail.com</a></span>
        </div>
        <div class="tag">
            <div class="icon">
                <%= fa_icon "telegram" %>
                Telegram :
            </div>
            <span>Sébastien Erfani</span>
        </div>
        <div class="tag">
            <div class="icon">
                <%= inline_svg "discord_logo.svg", class: "fa" %>
                Discord :
            </div>
            <span>Eternialz#4329</span>
        </div>
    </div>
</section>
