<section id="splash" class="head">
    <div class="row">
        <div class="col-12">
            <h1>Sébastien Erfani</h1>
            <h2>Intégrateur Web</h2>
        </div>
    </div>
</section>

<!-- <section>
    <div class="row list">
        <h3 class="title -icon"><%= fa_icon "newspaper-o" %><span>Derniers articles du blog</span></h3>
        <% @articles.each do |a| %>
            <div class="item">
                <h3 class="title">
                    <%= link_to a.title, blog_path(a) %>
                </h3>
                <div class="date title -tiny">
                    <%= a.created_at.strftime("%e %B %Y") %>
                </div>
                <p class="content">
                    <%= a.description[0..200] %> ...
                </p>
                <%= link_to blog_path(a), class: "heavy-link" do %>
                    Voir plus <%= fa_icon "arrow-right" %>
                <% end %>
            </div>
        <% end %>
    </div>
    <div class="row">
        <div class="col-12 -sp -wp-top">
            <%= link_to blog_index_path, class: "btn -accent2 float -r" do %>
                <%= fa_icon "eye" %> Voir tout mes articles
            <% end %>
        </div>
    </div>
</section> -->
<section class="-sp-bottom">
    <div class="row">
        <div class="zone -sp headline">
            <div class="col-4 pattern">
            </div>
            <div class="col-8 -big-gutter">
                <h5 class="subtitle">
                    Bonjour, je suis un <strong>intégrateur</strong> et <strong>développeur web</strong> sur <strong>Strasbourg</strong>
                    qui attache une grande importance à l'optimisation et l'expérience utilisateur.<br/>
                    Bienvenue sur mon site personnel.
                </h5>
                <a href="<%= static_page_path("portfolio") %>" class="btn"><%= fa_icon "book" %>Portfolio</a>
                <a href="https://github.com/eternialz" class="btn -white"><%= fa_icon "github"%>Github</a>
            </div>
        </div>
    </div>
</section>
<section class="-border-bottom -sp-bottom">
    <div class="row">
        <h3 class="title -icon"><%= fa_icon "briefcase" %>Mes compétences</h3>
        <div id="home-fixedheight-skills">
            <div class="col-6">
                <div class="zone">
                    <h5 class="subtitle">Points Forts</h5>
                    <div class="tag -full">
                        <div class="key">
                            <%= fa_icon "css3" %><span>CSS/SASS</span>
                        </div>
                        <div class="value">
                            <div class="progress-bar">
                                <div class="progress" style="width:100%">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tag -full">
                        <div class="key">
                            <%= fa_icon "html5" %><span>HTML</span>
                        </div>
                        <div class="value">
                            <div class="progress-bar">
                                <div class="progress" style="width:100%">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tag -full">
                        <div class="key">
                            <%= inline_svg "ruby_logo.svg", class: "fa" %><span>Ruby on Rails</span>
                        </div>
                        <div class="value">
                            <div class="progress-bar">
                                <div class="progress" style="width:82%">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tag -full">
                        <div class="key">
                            <%= fa_icon "database" %><span>SQL</span>
                        </div>
                        <div class="value">
                            <div class="progress-bar">
                                <div class="progress" style="width:72%">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tag -full">
                        <div class="key">
                            <%= inline_svg "js_logo.svg", class: "fa" %><span>JS/JQuery</span>
                        </div>
                        <div class="value">
                            <div class="progress-bar">
                                <div class="progress" style="width:65%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="zone">
                    <h5 class="subtitle">Outils de travail</h5>
                    <p>
                        <span class="techno">Git</span>
                        <span class="techno">Linux (ArchLinux)</span>
                        <span class="techno">Windows</span>
                        <span class="techno">Atom</span>
                        <span class="techno">TravisCI</span>
                        <span class="techno">Codefactor</span>
                        <span class="techno">Photoshop</span>
                        <span class="techno">Heroku</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 align -center">
            <h4 class="subtitle -center">Vous pouvez aussi regarder mon portfolio ou mon cv</h4>
            <a href="<%= static_page_path("portfolio") %>" class="btn"><%= fa_icon "book" %>Portfolio</a>
            <a href="<%= static_page_path("cv") %>" class="btn"><%= fa_icon "id-card-o" %>Curriculum vitæ</a>
        </div>
    </div>
</section>
<section class="contact darker" id="contact">
    <div class="row">
        <h3 class="title -icon"><%= fa_icon "comments-o" %><span>Contact</span></h3>
        <div class="col-12 -sp">
            <div class="col-6">
                <% if flash[:success].blank? %>
                    <h5 class="title">Me contacter</h5>
                    <%= form_for @contact, url: submit_contact_form_path(anchor: "contact") do |f| %>
                        <div>
                            <%= f.text_field :full_name, required: true, placeholder: "Nom complet" %>
                            <%= f.text_field :mail, required: true, placeholder: "Adresse mail", pattern: "[^ @]{1,}@[^ @]{1,}([.]{1}[^ @]{2,}|[.]{1}[^ @]{2,}[.]{1}[^ @]{2,})" %>
                            <%= f.text_area :message, required: true, placeholder: "Message" %>
                            <% if flash.any? %>
                                <% flash.each do |key, value| %>
                                    <div class="flash -<%= key %>"><%= value %></div>
                                <% end %>
                            <% end %>
                            <button type="submit" class="btn -white -accent2"><%= fa_icon "send" %> Envoyer</button>
                        </div>
                    <% end %>
                <% else %>
                    <h3 class="success -green"><%= fa_icon "check" %>Votre message a été envoyé</h3>
                    <p>
                        Je vous répondrai le plus rapidement possible
                    </p>
                <% end %>
            </div>
            <div class="col-6">
                <h5 class="title">Coordonnées</h5>
                <div class="zone -sp">
                    <div class="col-12">
                        <div class="contact-info">
                            <div class="key">
                                Mail :
                            </div>
                            <div class="value">
                                <span><a href="mailto:sebastien.erfani@gmail.com" target="_blank">sebastien.erfani@gmail.com</a></span>
                            </div>
                        </div>
                        <div class="contact-info">
                            <div class="key">
                                Telegram :
                            </div>
                            <div class="value">
                                <span>@eternialz</span>
                            </div>
                        </div>
                        <div class="contact-info">
                            <div class="key">
                                Discord :
                            </div>
                            <div class="value">
                                <span>Eternialz#4329</span>
                            </div>
                        </div>
                    </div>
                    <% unless Rails.env.development? %>
                        <div id="map"></div>
                        <script async defer
                            <%= "src=https://maps.googleapis.com/maps/api/js?key=" + ENV['GOOGLE_MAPS_API_KEY'] + "&callback=initMap" %>>
                        </script>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
