<section>
    <div class="row">
        <h3 class="title -icon"><%= fa_icon "id-card" %><span>Curriculum Vitæ</span></h3>
        <div class="cv-item">
            <div class="date">
                <div class="start">
                    <h4>
                        2017
                    </h4>
                </div>
                <div class="duration">
                    <h5>
                        1 ans
                    </h5>
                </div>
            </div>
            <div class="content">
                <h4 class="title">
                    3<sup>ème</sup> année d'études
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="cv-item">
            <div class="date">
                <div class="start">
                    <h4>
                        2017
                    </h4>
                </div>
                <div class="duration">
                    <h5>
                        2 mois
                    </h5>
                </div>
            </div>
            <div class="content">
                <h4 class="title">
                    Stage
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="cv-item">
            <div class="date">
                <div class="start">
                    <h4>
                        2016
                    </h4>
                </div>
                <div class="duration">
                    <h5>
                        1 ans
                    </h5>
                </div>
            </div>
            <div class="content">
                <h4 class="title">
                    2<sup>ème</sup> année d'études
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="cv-item">
            <div class="date">
                <div class="start">
                    <h4>
                        2016
                    </h4>
                </div>
                <div class="duration">
                    <h5>
                        4 mois
                    </h5>
                </div>
            </div>
            <div class="content">
                <h4 class="title">
                    Stage à Temps Plein à Epopia
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="cv-item">
            <div class="date">
                <div class="start">
                    <h4>
                        2015
                    </h4>
                </div>
                <div class="duration">
                    <h5>
                        1 ans
                    </h5>
                </div>
            </div>
            <div class="content">
                <h4 class="title">
                    1<sup>ére</sup> année d'études
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="cv-item">
            <div class="date">
                <div class="start">
                    <h4>
                        2015
                    </h4>
                </div>
            </div>
            <div class="content">
                <h4 class="title">
                    Obtention du Bac
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="col-12">
            <a href="" class="heavy_link"><%= fa_icon "arrow-right" %>Télécharger le CV</a>
        </div>
    </div>
</section>
<section class="-gradient-background">
    <div class="row">
        <h3 class="title -icon"><%= fa_icon "book" %><span>Portfolio</span></h3>
        <div class="portfolio-item" id="portfolio-item-1">
            <nav>
                <label for="portfolio-content-1-1" class="selected">A propos</label>
                <label for="portfolio-content-1-2">Technologies</label>
                <label for="portfolio-content-1-3">Sources</label>
            </nav>
            <h5 class="title">Moeverdose</h5>
            <input id="portfolio-content-1-1" type="radio" name="portfolio-menu-switch-1" checked>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <input id="portfolio-content-1-2" type="radio" name="portfolio-menu-switch-1">
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <input id="portfolio-content-1-3" type="radio" name="portfolio-menu-switch-1">
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="thumbnails">
                <div class="image -rounded -bordered">
                    <img src="https://pbs.twimg.com/profile_images/640249589593952256/HhZls8Ux_400x400.jpg" width="100%">
                    <div class="overlay"><%= fa_icon "expand" %></div>
                </div>
                <div class="image -rounded -bordered">
                    <img src="https://pbs.twimg.com/profile_images/640249589593952256/HhZls8Ux_400x400.jpg" width="100%">
                    <div class="overlay"><%= fa_icon "expand" %></div>
                </div>
                <div class="image -rounded -bordered">
                    <img src="https://pbs.twimg.com/profile_images/640249589593952256/HhZls8Ux_400x400.jpg" width="100%">
                    <div class="overlay"><%= fa_icon "expand" %></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row list">
        <h3 class="title -icon"><%= fa_icon "newspaper-o" %><span>Derniers articles du blog</span></h3>
        <% @articles.each do |a| %>
            <div class="item">
                <h3 class="title">
                    <%= link_to a.title, blog_path(a) %>
                </h3>
                <div class="date title -tiny">
                    <%= a.created_at.strftime("%e %B %Y") %>
                </div>
                <p class="content">
                    <%= a.description[0..200] %> ...
                </p>
                <%= link_to blog_path(a), class: "heavy-link" do %>
                    Voir plus <%= fa_icon "arrow-right" %>
                <% end %>
            </div>
        <% end %>
        <div class="col-12 -big-gutter">
            <%= link_to blog_index_path, class: "btn float -r" do %>
                <%= fa_icon "arrow-right" %> Blog
            <% end %>
        </div>
    </div>
</section>
<section class="-border-bottom -border-top -sp-bottom">
    <div class="row">
        <h3 class="title -icon"><%= fa_icon "id-card" %><span>Compétences</span></h3>
        <div class="col-8 -sp -wp-right">
            <h6 class="title">Web :</h6>
            <div class="tag -full">
                <div class="key">
                    <%= fa_icon "css3" %><span>CSS/SASS</span>
                </div>
                <div class="value">
                    <div class="progress-bar">
                        <div class="progress" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tag -full">
                <div class="key">
                    <%= fa_icon "html5" %><span>HTML</span>
                </div>
                <div class="value">
                    <div class="progress-bar">
                        <div class="progress" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tag -full">
                <div class="key">
                    <%= inline_svg "ruby_logo.svg", class: "fa" %><span>Ruby on Rails</span>
                </div>
                <div class="value">
                    <div class="progress-bar">
                        <div class="progress" style="width:82%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tag -full">
                <div class="key">
                    <%= inline_svg "js_logo.svg", class: "fa" %><span>JS/JQuery</span>
                </div>
                <div class="value">
                    <div class="progress-bar">
                        <div class="progress" style="width:72%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tag -full">
                <div class="key">
                    <%= fa_icon "database" %><span>SQL</span>
                </div>
                <div class="value">
                    <div class="progress-bar">
                        <div class="progress" style="width:69%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 -sp -wp-left">
            <div class="col-12 -sp">
                <h6 class="title">Autres technologies :</h6>
                <div class="technologie">
                    <%= fa_icon "code-fork" %><span>GIT</span>
                </div>
                <div class="technologie">
                    <%= fa_icon "linux" %><span>Linux</span>
                </div>
                <div class="technologie">
                    <%= inline_svg "ruby_logo.svg", class: "fa" %><span>Ruby</span>
                </div>
                <div class="technologie">
                    <%= inline_svg "python_logo.svg", class: "fa" %><span>Python</span>
                </div>
                <div class="technologie">
                    <%= inline_svg "nodejs_logo.svg", class: "fa" %><span>NodeJS</span>
                </div>
                <div class="technologie">
                    <%= fa_icon "code" %><span>C/C++</span>
                </div>
                <div class="technologie">
                    <%= fa_icon "code" %><span>C#</span>
                </div>
                <div class="technologie">
                    <%= fa_icon "database" %><span>NoSQL/MongoDB</span>
                </div>
            </div>
            <div class="col-12 -sp">
                <h6 class="title -accent2">Autres compétences :</h6>
                <div class=" -accent2">
                    <div class="icon"><%= fa_icon "users" %>Expérience Utilisateur (UX)</div>
                </div>
                <div class=" -accent2">
                    <div class="icon"><%= fa_icon "paint-brush" %>Design (UI)</div>
                </div>
                <div class=" -accent2">
                    <div class="icon"><%= fa_icon "calendar-o" %>Management</div>
                </div>
                <div class=" -accent2">
                    <div class="icon"><%= fa_icon "briefcase" %>Droit Informatique</div>
                </div>
            </div>
        </div>
        <div class="col-6 -big-gutter -gradient-border-right -wp-right -wp-bottom">
            <h6 class="title">Informatique</h6>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="col-6 -big-gutter -wp-left -wp-bottom">
            <h6 class="title">Design</h6>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</section>
<a id="contact"></a>
<section class="contact darker -sp rel">
    <div class="row -size-8 -left">
        <div class="col-12 -big-gutter -sp -wp-right">
            <h3 class="title -icon"><%= fa_icon "comments-o" %><span>Contact</span></h3>
            <% if flash[:success].blank? %>
                <h5 class="title">Me contacter</h5>
                <%= form_for @contact, url: submit_contact_form_path(anchor: "contact") do |f| %>
                    <div>
                        <%= f.text_field :full_name, required: true, placeholder: "Nom complet" %>
                        <%= f.text_field :mail, required: true, placeholder: "Adresse mail", pattern: "[^ @]{1,}@[^ @]{1,}([.]{1}[^ @]{2,}|[.]{1}[^ @]{2,}[.]{1}[^ @]{2,})" %>
                        <%= f.text_area :message, required: true, placeholder: "Message" %>
                        <% if flash.any? %>
                            <% flash.each do |key, value| %>
                                <div class="flash -<%= key %>"><%= value %></div>
                            <% end %>
                        <% end %>
                        <button type="submit" class="btn -white -accent2"><%= fa_icon "send" %> Envoyer</button>
                    </div>
                <% end %>
            <% else %>
                <h3 class="success -green"><%= fa_icon "check" %>Votre message à été envoyé</h3>
                <p>
                    Je vous répondrait le plus rapidement possible
                </p>
            <% end %>
            <h5 class="title">Informations de contact</h5>
            <div class="tag">
                <div class="key">
                    <%= fa_icon "envelope" %>
                    Mail :
                </div>
                <div class="value">
                    <span><a href="mailto:sebastien.erfani@gmail.com" target="_blank">sebastien.erfani<%= fa_icon "at" %>gmail.com</a></span>
                </div>
            </div>
            <div class="tag">
                <div class="key">
                    <%= fa_icon "telegram" %>
                    Telegram :
                </div>
                <div class="value">
                    <span>Sébastien Erfani</span>
                </div>
            </div>
            <div class="tag">
                <div class="key">
                    <%= inline_svg "discord_logo.svg", class: "fa" %>
                    Discord :
                </div>
                <div class="value">
                    <span>Eternialz#4329</span>
                </div>
            </div>
        </div>
    </div>
    <% unless Rails.env.development? %>
        <div id="map" class="row -size-4 -right -sp">
            <script async defer
                <%= "src=https://maps.googleapis.com/maps/api/js?key=" + ENV['GOOGLE_MAPS_API_KEY'] + "&callback=initMap" %>>
            </script>
        </div>
    <% end %>
</section>
