<footer>
    <div class="row">
        <div class="col-3">
            <h6 class="title"><%= t "footer.locale" %></h6>
            <a class="locale <%= I18n.locale == :fr ? 'current' : '' %>" href="?locale=fr"><%= inline_svg "fr.svg" %><span>Français</span></a>
            <a class="locale <%= I18n.locale == :en ? 'current' : '' %>" href="?locale=en"><%= inline_svg "gb.svg" %><span>English</span></a>
        </div>
        <div class="col-3">
            <h6 class="title"><%= t "footer.links" %></h6>
            <nav>
                <a href="<%= root_path %>"><%= t "menu.home" %></a>
                <a href="<%= static_page_path("portfolio") %>"><%= t "menu.portfolio" %></a>
                <a href="<%= static_page_path("cv") %>"><%= t "menu.resume" %></a>
                <a href="cv_sebastien_erfani.pdf" download><%= t "menu.download_cv" %></a>
                <a href="https://github.com/eternialz"><%= t "menu.github" %></a>
                <a href="<%= static_page_path("mentions") %>"><%= t "menu.legal_notice" %></a>
            </nav>
        </div>
        <div class="col-6">
            <h6 class="title"><%= t "footer.about" %></h6>
            <p>
                <%= t "footer.about_text" %>
            </p>
            <br/>
            <a href="https://github.com/eternialz/perso" target="_blank" class="btn -white"><%= fa_icon "github" %><%= t "footer.button" %></a>
        </div>
    </div>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <%= javascript_include_tag 'application', defer: Rails.env.production?, async: Rails.env.production? %>

</footer>
