<header class="nav">
    <div class="row">
        <li id="logo">
            <a href="/">
                <div class="image -round">
                    <img src="https://pbs.twimg.com/profile_images/640249589593952256/HhZls8Ux_400x400.jpg" width="50" height="50">
                </div>
                <h1>Sébastien Erfani</h1>
            </a>
        </li>
        <label id="display-menu" for="menu-toggle"><%= fa_icon "bars" %></label>
        <input type="checkbox" id="menu-toggle" checked>
        <ul>
            <li><a href=""><%= fa_icon "caret-right" %>Curriculum Vitæ</a></li>
            <li><a href=""><%= fa_icon "caret-right" %>Portfolio</a></li>
            <li><a href=""><%= fa_icon "caret-right" %>Github</a></li>
            <li><a href=""><%= fa_icon "caret-right" %>Contact</a></li>
            <li>
                <a href="#" class="tool">
                    <%= fa_icon "angle-up" %>
                    <span class="tip -align-right">Return to Top</span>
                </a>
            </li>
        </ul>
    </div>
</header>
