<header class="nav">
    <div class="row">
        <li id="logo">
            <a href="/">
                <h1>Sébastien Erfani</h1>
            </a>
        </li>
        <label id="display-menu" for="menu-toggle"><%= fa_icon "bars" %></label>
        <input type="checkbox" id="menu-toggle" checked>
        <ul>
            <li><a href="<%= static_page_path('portfolio') %>"><%= fa_icon "caret-right" %><%= t "menu.portfolio" %></a></li>
            <li><a href="<%= static_page_path('cv') %>"><%= fa_icon "caret-right" %><%= t "menu.resume" %></a></li>
            <li><a href="<%= root_path %>#contact"><%= fa_icon "caret-right" %>Contact</a></li>
        </ul>
    </div>
</header>
