<!DOCTYPE html>
<html>
    <%= render "layouts/head" %>

    <body>
        <%= render "layouts/flash" %>

        <%= render "layouts/splash" %>


        <div class="page">
            <%= render "layouts/menu" %>

            <div class="row">
                <%= yield %>
                <a href="#top">test</a>
            </div>
        </div>

        <%= render "layouts/cookie_disclaimer" %>
    </body>
</html>
