<!DOCTYPE html>
<html>
    <%= render "layouts/head" %>

    <body>
        <%= render "layouts/flash" %>

        <%= render "layouts/splash" %>

        <div class="page">

            <%= render "layouts/menu" %>

            <%= yield %>

        </div>

        <%= render "layouts/footer" %>

        <%= render "layouts/cookie_disclaimer" %>
    </body>
</html>
